@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap')

.App {
	position: relative;
	text-align: center;
	margin: auto;
	width: 75%;
	background-color: transparent;
	border-radius: 25px;
	color: white;
	width: 100vw;
	height: 100vh;
}

.Content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
	border-radius: 25px;
	padding: 25px;
	background-color: rgba(100, 100, 100, 0.5);
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

